---
import Main from "../layouts/Main.astro";
// Sanyi: 404 in Astro - we can a dd a simpel 404 page, and itt will be automatically redirect to itt if the page is not found
---

<Main title="404" description="404 page not found">
    <h1>404</h1>
</Main>
