---
import Main from "../layouts/Main.astro";
import profile from "../assets/profile.webp";
import Cards from "../components/Cards.astro";

// Sanyi: Astro.glob
const blogs = await Astro.glob("./blogs/*.md");
---

<Main title="Frau Katerina" description="Frau Katerina's website">
	<div class="profile">
		<img src={profile.src} alt="Profile Picture" class="profile__image" />
		<div class="profile__details">
			<h1>Frau Katerina</h1>
			<h2>Senior VP angineer at Googleees</h2>
			<p>
				Welcome to my website! I am a software engineer and I love to
				learn new technologies. This is my first Astro project, and I am
				excited to share it with you.
			</p>
		</div>
	</div>

	<Cards
		cards={[
			{
				to: "/philosophies",
				title: "Philosophies title and its content",
				gradientFrom: "#159957",
				gradientTo: "#155799",
			},
			{
				to: "/beyond-tech",
				title: "Beyond Tech title and its content",
				gradientFrom: "#0099f7",
				gradientTo: "#f11712",
			},
			{
				to: "/work-summary",
				title: "Go back to work summary",
				gradientFrom: "#568932",
				gradientTo: "#152889",
			},
		]}
	/>

	<div class="featured-blogs">
		<h2 class="blogs__title">Featured Blogs</h2>
		<p class="featured-blogs__description">Featured blogs description.</p>
	</div>

	<ol class="blogs">
		<!-- Sanyi: Astro.glob returns an array of objects, so we need to map over it -->
		{
			blogs.map((blog) => (
				<li class="blog-list-item">
					<a href={blog.url}>{blog.frontmatter.title}</a>
				</li>
			))
		}
	</ol>

	<style>
		.profile {
			display: flex;
			align-items: center;
			gap: 1rem;
			margin-bottom: 2rem;
		}

		.profile__image {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			object-fit: cover;
			flex-shrink: 0;
		}

		h2 {
			font-weight: normal;
		}
	</style>
</Main>
